{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Questionnarie landing page</title>
</head>
<body>
  <section class="container"
    <h2 style="color: #ffffff" class="page-title">Добро пожаловать на страницу опросника</h2>
   <a type="button" href="{% url 'register' %}">Регистрация</a>
   <a type="button" href="{% url 'login' %}">Вход</a>
  </section>
</body>
</html>
{% endblock content %}